<html ng-app='testApp'>
	<head>
		<script src="angular.js"></script>
		<script src="controller.js"></script>
	</head>
	<body>
		<div ng-controller='HelloController'>
			<input ng-model='greeting.text'>
			<p>{{greeting.text}} Hello</p>
		</div>
		<div ng-controller='CartController'>
			<h2>Orders</h2>
			<input ng-model='item.title'>
			<input ng-model='item.qnt'>
			<input ng-model='item.price'>
			<button ng-click='add(item)'>Add</button>
			<div ng-repeat='item in items'>
				<span>{{item.title}}</span>
				<input ng-model='item.qnt'>
				<span>{{item.price}} PLN</span>
				<span>{{item.price * item.qnt}} PLN</span>
				<button ng-click='remove($index)'>Remove</button>
			</div>
		</div>
	</body>
</html>